main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 49, 49);
}
.miniProjects-container {
  height: 20rem;
  width: 40rem;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.icons-container {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
