@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}
.title-container {
  display: flex;
  justify-content: center;
}
.title-content {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.tarefa-container {
  margin-left: 20px;
}
.btn-tarefa {
  height: 2rem;
  width: 10rem;
  border-radius: 8px;
  border-color: yellow;
  font-family: "IBM Plex Mono", serif;
  font-weight: bold;
}
.input-tarefa {
  height: 2rem;
  border-radius: 8px;
}
.li-style {
  font-family: "IBM Plex Mono", serif;
  font-weight: bold;
  margin-bottom: 10px;
  list-style: none;
}
button.apagar {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "IBM Plex Mono", serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  border-color: red;
}
.tarefas {
  margin-top: 1rem;
}
.checkbutton-style {
  height: 100px;
  background-color: black;
}

.tarefa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.tarefa input[type="checkbox"]:checked + .task-input-container p {
  text-decoration: line-through;
  color: gray;
}
.task-input-container {
  flex-grow: 1;
}
.task-input-container p {
  margin: 0;
  word-break: break-word;
}
h1 {
  font-family: "IBM Plex Mono", serif;
  font-style: normal;
}
input {
  padding-left: 10px;
  font-family: "IBM Plex Mono", serif;
  border-color: #1e90ff;
}
form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
@media (max-width: 768px) {
  .input-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .task-input-container {
    flex-grow: 1;
    width: 100%;
  }
}
